<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <!-- 
      This section was necessary so that the requestTimeout could be set to 10 minutes. 
      
      Why? Because the way that fastpass requests are processed is currently done by calling an
      endpoint in this web app. That call can sometimes run really long, depending on the number
      of requests to process. To make sure it doesn't timeout before it gets a chance to finish,
      the site's requestTimeout is set to 10 minutes.    
  -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore requestTimeout="00:10:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  
</configuration>